<%- include("partials/header") -%>
<h1>Compose</h1>
<form  action="/compose" method="post">
  <div class="form-group">


  <label for="">Title</label>
  <input  class="input-group mb-3 form-control" type="text" name="vlu" >
  <label for="">Post</label>
  <textarea class="input-group  mb-3 form-control" rows="3" type="text" name="vlu2" ></textarea>
  </div>
  <button class="btn btn-lg btn-primary"type="submit" >Publish</button>
</form>
